body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.sidebar {
  height: 100vh;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d6efd;
  padding-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a {
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
  display: block;
  text-align: left;
  border-left: 4px solid transparent;
}

.sidebar a:hover, .sidebar a.active {
  color: #ffffff;
  background-color: #1d66d3;
  border-left: 4px solid #0d6efd;
}

.sidebar img {
  margin-bottom: 10px;
}

.content {
  margin-left: 240px;
  padding: 20px;
}
